<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new User</title>
</head>
<body >
<form th:method="POST" th:action="@{/admin/new}" th:object="${user}" style="position: absolute; left: 10%; font: italic bold 30px/40px Georgia; width: 200px; text-align: center;
    height: 50px">
    <label for="name">Enter new name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    <br/>
    <label for="age">Enter new age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <p style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
    <br/>
    <label for="username">Enter new username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <p style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
    <br/>
    <label for="password">Enter new password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <p style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    <br/>
    <div th:each="role : ${allRoles}">
        <input type="checkbox" th:text="${role.getAuthority()}" th:value="${role.getId()}" th:id="'role_' + ${role}" name="selectedRoles"/>
        <label th:for="'role_' + ${role}" ></label><br/>
    </div>
    <input type="submit" value="Save">
</form>
</body>
</html>