<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<p style="position: absolute; left: 20%; font: italic bold 30px/40px Georgia; width: 200px; text-align: center;
    height: 50px">Users</p>
<table border="1" ; style="position: absolute; left: 20%; top: 15%; font: italic bold 30px/40px Georgia">
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Username</th>
    </tr>
    <tr th:each="user : ${users}" >
        <td th:utext="${user.getId()}">...</td>
        <td> <a th:href="@{/admin/show(id=${user.getId()})}"><th:u th:utext="${user.getName()}"></th:u></a></td>
        <td th:utext="${user.getAge()}">...</td>
        <td th:utext="${user.getUsername()}"> </td>
        <td><a th:href="@{/admin/edit(id=${user.getId()})}">Edit</a></td>
        <td><a th:href="@{/admin/delete(id=${user.getId()})}">Delete</a></td>
    </tr>
</table>

<a href="/admin/new"><input type="button" value="Create new User" style="position: absolute; left: 1%; top: 3%; font: italic bold 30px/40px Georgia; width: 300px; text-align: center;
    height: 50px"></a>
<a href="/logout"><input type="button" value="Logout" style="position: absolute; left: 1%; top: 10%; font: italic bold 30px/40px Georgia; width: 300px; text-align: center;
    height: 50px"></a>

</body>
</html>